* {
    margin: 0px;
    padding: 0px;
  }
  svg {
      border:0 solid blue;
  
      font-size: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-weight: bolder;
      color: red;
  }

 
#overlay{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; background-color:#FFF;  }