// * {
//     margin: 0px;
//     padding: 0px;
//   }
  svg {
      font-size: 80px;
      font-weight: bolder;
      color: red;
      z-index: 10;
      margin: auto;
      display: block;
      

  }
  #svg2 {
    #div3 {transition-timing-function: ease-in;}
  }
// #svg1, #svg2 {
//   width: 100%;
//   height: 100%;
// }

// #text3 {
//   transition-timing-function:ease-in;
// }

 
#overlay{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; background-color:#FFF;  }

.slide-in-appear {
  transform: translate3D(100%, 0, 0);
  transition: all 300ms linear;

  &.slide-in-appear-active {
    transform: translate3D(0, 0, 0);
  }
}

.slide-in-enter {
  transform: translate3D(100%, 0, 0);
  transition: all 300ms linear;

  &.slide-in-enter-active {
    transform: translate3D(0, 0, 0);
  }
}


.slide-in-leave {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translate3D(0, 0, 0);
  transition: all 300ms linear;

  &.slide-in-leave-active {
    opacity: 0.01;
    transform: translate3D(-100%, 0, 0);
  }
}
